# SonarQube Docker volumes
SonarQube/sonarqube-server/postgres/
SonarQube/sonarqube-server/sonarqube-data/
SonarQube/sonarqube-server/sonarqube-extensions/
SonarQube/sonarqube-server/sonarqube-logs/

RabbitMQ/node_modules/
OpenTelemetry/otel-demo/app/node_modules/
